body {       
    margin: 0;  
    background-color: #F3EEE9; 
    color: #2A2E1E;           
    font-family: "Playfair Display", serif;
}


/* --------- Header --------- */
header {
    background-color: #B3A596;
    padding: 1rem 2rem;
    text-align: center;
}

header span {
    font-size: 2rem;
    font-weight: 700;
    color: #2A2E1E;
}

/* --------- Navigation --------- */
nav {
    background-color: #7A6B5E;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.05rem 2rem;
    display: flex;             
    flex-direction: row;      
    justify-content: center;   
    gap: 2rem;                 
}

nav li {
    display: flex;            
}

nav a {
    text-decoration: none;
    color: #F3EEE9;
    font-weight: bold;
    line-height: 48px; 
}

nav a:hover {
    color: #2A2E1E;
}

/* --------- Content --------- */
main, section {
    padding: 2rem;
}

p, dt, dd {
    color: #2A2E1E;
}

main p {
    font-size: 1rem;
}

main h1 {
    color: #2A2E1E;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

main h2 {
    color: #2A2E1E;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}


main a {
    color: #7A6B5E;
    font-weight: bold;
}

main a:hover {
    color: #2A2E1E;
}


ul {
    list-style-type: circle;
    padding-left: 2rem;
}

ol {
    padding-left: 2rem;
}


.types-of-fabric ul {
    background-color: #B3A596;
    padding: 1rem 2rem;
    margin-left: 0;
    margin-right: 0;
    list-style-type: disc;
}


strong {
    background-color: #B3A596;
    padding: 0.1rem 0.3rem; 
    border-radius: 4px;
}


main dl {
    margin: 1rem 0;
}

main dl dt {
    color: #2A2E1E;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1.1rem;
}

main dl dd {
    color: #2A2E1E;
    font-size: 0.9rem;
    margin-left: 1.5rem;
    line-height: 1.4;
}


address.address {
    border: 2px solid #2A2E1E;
    border-radius: 4px;
    padding: 1rem;
    background-color: #F3EEE9;
    display: inline-block;
    margin-top: 1rem;
}

/* --------- main image stuff --------- */
figure.palette {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}
figure.palette img {
    width: 100%;
    height: auto;
}
figure.palette figcaption {
    text-align: center;
    font-size: .75rem;
    color: #2A2E1E;
}


/* --------- gallery stuff --------- */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #2A2E1E;
}

/* --------- Footer --------- */
footer,
footer p {
    background-color: #7A6B5E;
    color: #F3EEE9 !important; 
    text-align: center;
    padding: 0.05rem 2rem;       

}
